.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.pagination a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 3px;
    font-size: 14px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #40745a;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active):not(.disabled) {
    background-color: #ddd;
}

.pagination a.disabled {
    pointer-events: none;
    /* Disable click */
    color: gray;
    border-color: #ccc;
    background-color: #f9f9f9;
}